h1 = t('question')

p.strong.center = @question.body
ol
  = render @question.answers

= link_to t('actions.creates.answer'), new_admin_question_answer_path(@question)
br
= link_to t('actions.edit'), edit_admin_question_path(@question)
br
= link_to t('actions.delete'), admin_question_path(@question),
          role: "button",
          method: :delete,
          data: { confirm: t('actions.delete?', model: Question.model_name.human) }
br
= link_to t('direction.back'), admin_test_path(@question.test.id)
