form.new_user
  .field
    margin: 5px auto
    width: 400px
    display: flex
    flex-direction: column
    a
      text-align: center
  input#user_email
    width: 100%
  input.error
    background-color: #ffd9d9
    box-shadow: 0 0 10px red
    border-color: red
  input.success
    background-color: #e6f3e6
    box-shadow: 0 0 10px green
    border-color: green
