header
  margin: 10px 0
  .authenticate
    flex-direction: row
    display: flex
    align-items: center
    .dropdown-menu
      a
        color: #2E2F30
    a, span
      margin: 0 5px
      color: white
      text-decoration: none
  ul.navbar-nav
    flex-direction: row
    li
      margin: 0 10px
