h2 = @test.title
ul
  = render(partial: "shared/question", collection: @questions) || 'У матросов нет вопросов'

= link_to t('actions.update.test'), edit_test_path
br
= link_to t('actions.creates.question'), new_test_question_path(@test)
br
= link_to t('direction.back'), tests_path
