h2 = @test.title
ul
  - @questions.each do |question|
    li = link_to question.body, question_path(question)

= link_to I18n.t('actions.creates.question'), new_test_question_path(@test)
br
= link_to I18n.t('direction.back'), tests_path
